<div class="w-1/2 bg-gray-100 mx-auto">
  <p class="text-2xl font-semibold text-center mb-3">About Page</p>

  <p class="text-xl font-semibold text-center mb-3">
    Hello Parameter {{ param }}
  </p>
  <p class="text-xl font-semibold text-center mb-3">
    Hello Query Parameter First Name {{ queryParamFirstName }}
  </p>
  <p class="text-xl font-semibold text-center mb-3">
    Hello Query Parameter Last Name {{ queryParamLastName }}
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, harum,
    exercitationem eum velit qui et quae sunt itaque minus ut soluta repudiandae
    earum nam dolore perferendis rem, expedita voluptas magnam ex quas ratione
    quod suscipit quaerat. Modi perferendis deleniti pariatur atque ipsam dicta
    reprehenderit, aut quos cum voluptatem nihil magnam ipsum officia quasi
    vitae ad illo sapiente at animi sequi architecto velit consectetur dolor.
    Mollitia tenetur sunt rem architecto quia recusandae, accusamus perferendis
    numquam modi beatae quaerat ipsum ex totam placeat. Nulla architecto facilis
    et voluptatum, doloremque necessitatibus, expedita consequatur autem
    exercitationem, asperiores nostrum quas porro alias odio dolores
    accusantium.
  </p>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi
    repudiandae suscipit praesentium laborum hic nobis animi quos porro ab. Rem
    officiis sequi id praesentium autem? Unde delectus adipisci quasi explicabo
    dolor odio cupiditate nobis quisquam atque natus eaque voluptate non ex,
    reiciendis necessitatibus! Debitis doloremque aliquid voluptatum libero
    quidem ab!
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
    laboriosam ducimus, quidem eaque voluptas iste delectus esse nam doloremque
    enim totam non inventore minima eum. Consectetur perspiciatis unde
    perferendis itaque aut, sint, expedita soluta aliquam ut temporibus nisi
    corporis tenetur rem. Eos et cum tempora laborum ullam, veritatis porro quia
    accusamus optio eius eveniet blanditiis fuga nihil quas sint aliquam omnis
    officiis error consequatur ducimus tempore? Non sapiente praesentium, ad,
    amet hic doloribus voluptate quam aut repellendus nesciunt sed itaque
    facilis? Laborum, nisi suscipit quisquam rem voluptatem molestias quia qui
    nam perferendis provident dignissimos fugiat! Veniam voluptatibus dolorum
    placeat dolorem.
  </p>
</div>
